:root {
	--color-red : #2e29dc;
	--bg-color :#0f0e0e;
	--box-color:  #090909;
	--bg-color2: #070707;
	--data: attr(data-persen);
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button {
	outline: none;
	border: none;
}


body {
	position: relative;
	height: 3000px;
	width: 100%;
}


.container {
	/*mix-width: 1080px;*/
	padding: 20px 30px;
}
.main {
	overflow: hidden;
	position: relative;
	/*width: 100%;*/
	margin-left: 70px;
}

.home{
	display: flex;
	width: 100%;
	background: url('img/bg.jpg') no-repeat;
	/*position: relative;*/
	/*margin-left: 70px;*/
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
	background-size: cover;
	background-position: center;
}



.navbar {
	/*flex-basis: 5%;*/
	position: fixed;
	display: flex;
	background: #0a0a0a;
	flex-direction: column-reverse;
	align-items: center;
	/*transform: rotate(270deg);*/
	justify-content: space-between;
	padding: 10px 0;
	color: #fff;
	height: 100%;
	width: 70px;
	grid-column: reverse;
	z-index: 99999999999999;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.navbar .logo{
	color: var(--color-red);
}

.icon-share img {
	width: 30px;
	height: 30px;
	margin-bottom: 25px;
}

.navbar ul {
	display: flex;
	flex-direction: row-reverse;
	transform: rotate(270deg);
	list-style: none;
}
.manu {
	/*background-color: red;*/
	/*width: 100px;*/
	/*position: fixed;*/
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 9999999999;
	display: none;
}

.manu.active {
	position: fixed;
}

.manu .humberger {
	font-size: 1.7em;
	cursor: pointer;
	color:  #fff;
}

.navbar ul li {
	margin: 0 20px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	padding-bottom: 8px;
	font-size: 1em;
	position: relative;
}
.navbar ul li a {
	position: relative;
	transition: all 1s;
	border: none;
	outline: none;
	font-style: none;
}
.navbar ul li::after {
	content: '';
	position: absolute;
	width: 6px;
	/*height: 5px;*/
	bottom: 0;
	left: 50%;
	border-radius: 50%;
	transform: translateX(-50%);
	background-color: var(--color-red);
	transition: all 1s;
}
.navbar ul li:hover::after {
	content: '';
	height: 6px;
}

.home .container {
	/*flex-basis: 95%;*/
	/*grid-area: hero;*/
	position: relative;
	/*background: #000;*/
	/*background-attachment: fixed;*/
	width: 100%;
	height: 100vh;
	color: #fff;
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-between;
}


.home .container .content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: auto;
	position: relative;
}
.home .container .content .logo span{
	color: var(--color-red);
}

.home .container .content .info {
	position: relative;
	top: -50px;
}

.home .container .content .info h2 {

	font-weight: 800;
	font-size: 2rem;
}


.home .container .content .info h1 {
	display: block;
	position: relative;
	/*background-color: red;*/
	width: 800px;
	min-width: 100%;
	/*padding: 0;*/
	font-size: 2.6rem;
	font-weight: 800;
	/*padding: 0 0 10px;*/
}


.home .container .content .info h1 span {
	position: relative;
	color: var(--color-red);
	font-weight: 800;
}

.home .container .content .info h1 span::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 90%;
	right: -5px;
	top: 0;
	background-color: var(--color-red);
	/*animation: typingAnimasi .3s ease-in;*/
}

.home .container .content .info p {
	font-size: 1.5em;
	font-weight: 700;
	mix-blend-mode: difference;
}

.home .container .content .info .btn,
.about .content .right .btn {
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 7px;
	padding: 10px 16px;
	font-size: 1.4em;
	font-weight: 600;
	cursor: pointer;
	background: none;
	color: #fff;
	background-color: var(--color-red);
	/*transform: scale(0);*/
	transition: all 0.4s;
	z-index: 1;
	position: relative;
}

.home .container .content .info .btn::after,
.about .content .right .btn::after {
	content: '';
	background-color: #312d2d;
	transform: scale(0);
	position: absolute;
	/*color: var(--color-red);*/
	transform-origin: center;
	border-radius: 7px;
	transition: all 0.3s;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.container .content .info .btn:hover::after,
.about .content .right .btn:hover::after {
	transform: scale(1);
}
.home .container .content .media-sosial {
	/*overflow: hidden;*/
	position: relative;
	/*width: 100%;*/
	/*left: -50px;*/
}

.home .container .content .media-sosial .icon {
	transition: transform 0.3s ease-in-out;
	z-index: 999999;
	display: inline-block;
	margin: 10px 15px;
	align-items: center;
}

.home .container .content .media-sosial .icon i {
	font-size: 1.5em;
	font-weight: 500;
	cursor: pointer;
	border: none;
	outline: none;
	color: #fff;
	position: relative;
}


.home .container .content .media-sosial .icon:hover {
	transform: scale(1.2);
}

.home .container .content .media-sosial .icon:hover i {
	color: #fff;
}


img {
	width: 450px;
}



.about {
	width: 100%;
	position: relative;
	/*left: 5%;*/
	background-color: #0f0e0e;
	color: #fff;
	padding: 10px 0 30px;
}


.about .title,
.project .title,
.skils .title,
.contact .title {
	text-align: center;
	font-weight: 600;
	position: relative;
	font-size: 1.6em;
	padding: 20px 0;
	color: #fff;
}
.about .title::before,
.project .title::before,
.skils .title::before,
.contact .title::before {
	content: attr(data-header);
	font-size: 0.7em;
	position: absolute;
	color: var(--color-red);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.about .content {
	margin: 20px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 'img left';
}

.about .content img {
	grid-area: img;
	align-self: center;
	border-radius: 10px;
}

.about .content .right {
	/*align-self: center;*/
	grid-area: left;
	padding: 30px 20px;
}

.about .content .right .section {
	margin: 20px 0 10px;
	display: grid;
	min-width: 100%;
	grid-gap: 50px;
	grid-template-columns: repeat(3, 1fr);
}
.about .content .right .section .box {
	background-color: #191717;
	border-radius: 5px;
	display: flex;
	/*width: calc(50%/2);*/
	padding: 20px 0;
	flex-direction: column;
	align-items: center;
}


.about .content .right .section .box i {
	font-size: 1.2em;
	margin-bottom: 5px;
	color: var(--color-red);
}

.about .content .right h1 {
	font-weight: 700;
	font-size: 1.7em;
}

.about .content .right h1 span {
	color: var(--color-red);
	font-weight: 700;
}
.about .content .right .section .box h4 {
	font-weight: 600;
}


.about .content .right .section .box p {
	font-weight: 500;
	font-size: 0.95em;
}


.about .content .right p{
	font-size: 1.1em;
	/*font-weight: 500;*/
	text-align: justify;
}
.about .content .right .section .box button {
	font-size: 0.9em;
	margin-top: 3px;
	cursor: pointer;
	background: none;
	position: relative;
	color: var(--color-red);
	/*text-decoration: underline;*/
}

.about .content .right .section .box button i{
	font-size: 0.73em;
	position: relative;
	top: -3px;
}

.about .content .right .section .box .card {
	position: fixed;
	background-color: rgba(0,0,0, 0.5);
	z-index: 999;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	right: 0;
}


.about .content .right .section .box.active-card .card{
	display: flex;
}

.about .content .right .section .box .card .card-info {
	border-radius: 10px;
	width: 50%;
	height: 500px;
	padding: 15px 30px;
	background-color: var(--box-color);
	position: relative;
	display: flex;
	flex-direction: column;
}

.about .content .right .section .box .card .card-info i {
	font-size: 2em;
	margin: 5px auto 25px;
}


.about .content .right .section .box .card .card-info h2 {
	text-align: center;
}
.about .content .right .section .box .card .card-info p {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.about .content .right .section .box .card .card-info .info-content {
	display: flex;
	/*margin-top: 60px;*/
	font-size: 0.95em;
	justify-content: space-around;
}

.about .content .right .section .box .card .card-info .info-content.hobi {
	justify-content: flex-start;
	/*margin-top: -100px;*/
	font-size: 0.9em;
}

.about .content .right .section .box .card .card-info .info-content.hobi ul {
	/*margin-top: -55px;*/
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


.about .content .right .section .box .card .card-info .info-content.hobi ul li,
.about .content .right .section .box .card .card-info .info-content.pengalaman ul li
 {
	position: relative;
	margin-top: 7px;
}
.about .content .right .section .box .card .card-info .info-content.pengalaman ul li h3 {
	font-size: 1.1em;
}

.about .content .right .section .box .card .card-info .info-content.hobi ul li p,
.about .content .right .section .box .card .card-info .info-content.pengalaman ul li p {
	width: 100%;
	font-size: .9em;
	text-align: left;
}

.about .content .right .section .box .card .card-info .info-content ul {
	list-style: circle;
}

.about .content .right .section .box .card .card-info .info-content ul:nth-child(2) {
	list-style: none;
	font-size: 1em;
}

.about .content .right .section .box .card .card-info .close {
	position: absolute;
	top: 3px;
	font-size: 1em;
	font-weight: 700;
	right: 10px;
}

.about .content .right .btn {
	background-color: var(--color-red);
	font-size: 1.3em;
	margin-top: 10px;
}

/*about selesai*/



.project {
	position: relative;
	/*width: 100%;*/
	/*left: 5%;*/
	color: #fff;
	padding: 10px 0 30px;
	background-color: var(--bg-color2);
}

.project .content {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	/*box-sizing: border-box;*/
}

.project .content .column {
	cursor: pointer;
	position: relative;
	/*margin: 0 auto;*/
	/*box-sizing: border-box;*/
	text-align: center;
	overflow: hidden;
	/*padding: 40px 20px;*/
	border-radius: 10px;
	/*background-color: var(--box-color);*/
	transition: transform 0.7s;
}

.project .content .column .describsi i {
	font-size: 1.5em;
	color: #fff;
	font-weight: 700;
}

.project .content .column::after {
	content: '';
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(rgba(242, 14, 14, 0.9) 0%, rgba(23, 21, 21, 0.2) 100%);
	transition: transform 0.7s;
}

.project .content .column:hover::after {
	transform: translateY(0);
}

.project .content .column img {
	border-radius: 10px;
	width: 100%;
	display: block;
	/*height: 400px;*/
	transition: transform 0.7s;
}

.project .content .column:hover img{
	transform: scale(1.2);
}

.project .content .column .describsi {
	position: absolute;
	padding: 0 20px;
	display: flex;
	z-index: 999;
	top: -50%;
	/*right: 0;*/
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.9s;
}

.project .content .column:hover .describsi {
	top: 50%;
}

/*PROJECT SELESAI*/


.skils {
	background:  var(--bg-color);
	width: 100%;
	padding: 10px 0 30px;
	font-family: "Poppins", sans-serif;;
}

.skils .container {
	position: relative;
}

.skils .content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-evenly;
	grid-gap: 20px;
	align-items: center;
	color: #fff;
	position: relative;
	margin: 30px auto;
	/*margin-left: -50px;*/
	width: 100%;
	border-radius: 10px;
}
.skils .content .col {
	background-color: var(--bg-color2);
	padding: 20px 10px;
	position: relative;
	text-align: center;
	border-radius: 15px;
}
.skils .content .col .persen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}
.skils .content .col .persen h2 {
	font-size: 2em;
	color: #fff;
}
.skils .content .col .row svg {
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}

.skils .content .col .row svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #211e21;
	stroke-width: 8;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}	


.skils .content .col .teks {
	font-size: 1em;
}

.skils .content .col:nth-child(1) .row svg circle:nth-child(2) {
	stroke: #f62020;
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}

.skils .content .col:nth-child(1) .row.active svg circle:nth-child(2) {
	animation: skillAnime1 1.5s linear forwards;
	animation-delay: 0.3s;
}
.skils .content .col:nth-child(2) .row svg circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	stroke: #13e9d7;
}

.skils .content .col:nth-child(2) .row.active svg circle:nth-child(2) {
	animation: skillAnime2 1s linear forwards;
	animation-delay: 0.3s;
}


.skils .content .col:nth-child(3) .row svg circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	stroke: #a513e9;
}

.skils .content .col:nth-child(3) .row.active svg circle:nth-child(2) {
	animation: skillAnime3 1.5s linear forwards;
	animation-delay: 0.3s;
}

.skils .content .col:nth-child(4) .row svg circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	stroke: #3ff321;
}

.skils .content .col:nth-child(4) .row.active svg circle:nth-child(2) {
	animation: skillAnime4 0.4s linear forwards;
	animation-delay: 0.2s;
}


/*SKILLS SELESAI*/


.contact {
	padding: 10px 0 30px;
	background: var(--bg-color2);
	color: #fff;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.contact .content {
	margin-top: 35px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.contact .content .left {
	/*margin-left: 100px;*/
	/*text-align: center;*/
	justify-self: left;
}

.contact .content .left .col {
	margin-bottom: 20px;
	text-align: center;
}

.contact .content .left .col i {
	font-size: 1.3em;
}


.contact .content .left .col p {
	font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
}


.contact .content .left .col p:nth-child(2) {
	font-weight: 600;
	font-size: 1em;
}

.contact .content .left .col p:nth-child(3) {
	margin-bottom: 5px;
}

.contact .content .left .col a {
	margin: 20px 0;
}

.contact .content .left .col a i {
	font-size: 1em;
	transition: all 0.5s;
	color: #fff;
}

.contact .content .left .col i.btncopy {
	font-size: 1em;
	cursor: pointer;
	transition: all 0.5s;
}

.contact .content .left .col a i:hover,
.contact .content .left .col i.btncopy:hover {
	color: var(--color-red);
}

.contact .content .right {
	display: flex;
	flex-direction: column;
}

.contact .content .right h1 {
	font-size: ;
}

.contact .content .right .form-input {
	margin-top: 20px;
	display: flex;
	grid-gap: 10px;
	flex-direction: column;
}

.contact .content .right form input,
.contact .content .right form textarea {
	background: var(--bg-color);
	outline: none;
	border:  none;
	border:  2px solid var(--color-red);
	border-radius: 5px;
	padding: 10px 15px;
	color:  #fff;
	resize: none;
}






.contact .content .right .form-input button {
	width: 100px;
	padding: 6px 15px;
	color: #fff;
	background: var(--color-red);
	border-radius: 5px;
	cursor: pointer;
	border:  2px solid var(--color-red);
	transition: background 0.3s ease;
}

.contact .content .right .form-input button:hover {
	background:  none;
}


.footer {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
}

.footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer h2 {
	text-align: center;
	font-size: 1em;
	font-weight: 300;
}

.footer h2 span {
	font-weight: 600;
	/*color: var(--color-red);*/
}

.footer .media-sosial {
	margin-top: 5px;
	text-align: center;
}

.footer .media-sosial i {
	margin: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
	transition: all 0.4s;
	color: #fff;
}

.footer .media-sosial a:hover i,
.footer .media-sosial i:hover{
	color: var(--color-red);
}





/*======== Animasi Untuk Skills ==========*/

@keyframes skillAnime1 {

	100% {
		stroke-dashoffset: 44;
	}
}

@keyframes skillAnime2 {

	100% {
		stroke-dashoffset: 132;
	}
}

@keyframes skillAnime3 {

	100% {
		stroke-dashoffset: 66;
	}
}

@keyframes skillAnime4 {

	100% {
		stroke-dashoffset: 308;
	}
}






@keyframes typingAnimasi {

	0%{
		background-color: red;
	}
	100%{
		background-color: var(--bg-color);
	}

}





/*========= RESPONSIVE POINT =========*/


@media (max-width: 1080px) {
	.home .container .content .info h1 {
		font-size: 1.5em;
	}
	.home .container .content .info h2 {
		font-size: 1.2em;
	}
	.home .container .content .info p {
		font-size: 0.9em;
	}

	.about .content img {
		width: 370px;
	}

	.about .content .right h1 {
		font-size: 1em;
	}

	.about .content .right p {
		font-size: 0.8em;
	}

	.about .content .right .section .box {
		width:  100%;
	}
	.about .content .right .section .box h4 {
		font-weight: 600;
		font-size: 0.7em;
	}


	.about .content .right .section .box p {
		font-weight: 500;
		font-size: 0.6em;
	}
	.about .content .right .section .box button {
		font-size: 0.6em;
	}

	.about .content .right .section .box .card .card-info {
		border-radius: 10px;
		width: 70%;
		/*height: 35%;*/
		padding: 15px 30px;
	}

	.about .content .right .section .box .card .card-info i {
		font-size: 2em;
		margin: 5px auto 25px;
	}


	.about .content .right .section .box .card .card-info h2 {
		text-align: center;
	}
	.about .content .right .section .box .card .card-info p {
		margin: 0 auto;
		width: 80%;
		text-align: center;
	}

	.about .content .right .section .box .card .card-info .info-content {
		display: flex;
		font-size: 0.95em;
		justify-content: space-around;
	}

	.about .content .right .section .box .card .card-info .info-content.hobi {
		justify-content: flex-start;
		font-size: 0.9em;
	}

	.about .content .right .section .box .card .card-info .info-content.hobi ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}


	.about .content .right .section .box .card .card-info .info-content.hobi ul li,
	.about .content .right .section .box .card .card-info .info-content.pengalaman ul li
	 {
		font-size: 0.8em;
	}
	.about .content .right .section .box .card .card-info .info-content.pengalaman ul li h3 {
		font-size: 1em;
	}

	.about .content .right .section .box .card .card-info .info-content.hobi ul li p,
	.about .content .right .section .box .card .card-info .info-content.pengalaman ul li p {
		font-size: 0.8em;
	}

	.about .content .right .section .box .card .card-info .info-content ul:nth-child(2) {
		font-size: 0.6em;
	} 

	.about .content .right .btn {
		font-size: 0.7em;
	}
	.project .content {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 100px;
		/*box-sizing: border-box;*/
	}
}


@media (max-width: 900px) {
	.container {
	/*mix-width: 1080px;*/
	padding: 30px 30px;
}
	.home {
		background: url('img/bg2.jpg') no-repeat;
		background-size: cover;
		background-position: center;
	}
	.about .content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		'img'
		'left';
	}
	.about .content img {
		margin: 0 auto;
	}
	.project .content {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 100px;
		/*box-sizing: border-box;*/
	}
	.skils .content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 700px) {
	.navbar {
		justify-content: flex-end;
		background-color: transparent;
		width: 100%;
		transform: translateX(100%);
		height: 100%;
		transition: all 0.6s;
	}
	.navbar .icon-share {
		display: none
	}

	.navbar .logo {
		display: none;
	}

	.navbar .menu {
		top: 0;
		bottom: 0;
		/*right: 20px;*/
		left: 56%;
		width: 100%;
		height: 100%;
		background: red;
		position: absolute;
		text-align: center;
		flex-direction: column;
		transform: rotate(0deg);
	}

	.navbar.active {
		transform: translateX(0);
	}

	.navbar.active .menu {
		right: 56%;
	}

	.navbar .menu li {
		display: inline-block;
		transform: translateX(-30%);
		margin-top: 35px;
	}

	.about .content .right .section .box .card .card-info {
		border-radius: 10px;
		width: 70%;
		/*height: 40%;*/
		padding: 15px 30px;
	}

	.main {
		/*width: 100%;*/
		margin-left: 0;
	}
	.manu {
		display: block;
	}
	.skils .content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.contact .content .left .col {
		text-align: left;
	}

	.contact .content .left .col i {
		font-size: 1.1em;
	}


	.contact .content .left .col p {
		font-size: 0.8rem;
	}


	.contact .content .left .col p:nth-child(2) {
		font-size: 0.9em;
	}

	.contact .content .left .col a i {
		font-size: 0.9em;
	}
}


@media (max-width: 600px) {
	.home .container .content .info h1 {
		font-size: 1.5em;
	}
	.home .container .content .info h2 {
		font-size: 1em;
	}
	.home .container .content .info p {
		font-size: 0.8em;
	}

	.about .content .right .section .box .card .card-info {
		width: 90%;
		/*height: 60%;*/
	}

	.about .content .right .section .box .card .card-info i {
		font-size: 1.9em;
		margin: 5px auto 25px;
	}
	.about .content .right .section .box .card .card-info h2 {
		font-size: 1em;
	}
	.about .content .right .section .box .card .card-info p {
		font-size: 0.9em;
	}

	.about .content .right .section .box .card .card-info .info-content.pengalaman ul li h3 {
		font-size: 1em;
	}

	.about .content .right .section .box .card .card-info .info-content.hobi ul li p,
	.about .content .right .section .box .card .card-info .info-content.pengalaman ul li p {
		font-size: 0.9em;
	}

	.about .content .right .section .box .card .card-info .info-content ul {
		margin-top: 20px;
	}

	.about .content .right .section .box .card .card-info .info-content ul:nth-child(2) {
		list-style: none;
		font-size: 1.1em;
	}

	.contact .content {
		grid-template-columns: repeat(1, 1fr);
	}

	.contact .content .left {
		justify-self: center;
	}

	.contact .content .left .col {
		text-align: center;
	}

}


@media (max-width: 500px) {
	.home .container .content .info h1 {
		font-size: 1.2em;
	}
	.home .container .content .info h2 {
		font-size: 0.8em;
	}
	.home .container .content .info p {
		font-size: 0.5em;
	}
	.home .container .content .info .btn {
		font-size: 1em;
	}	
	.about .content .right .section {
		grid-gap: 30px;
		grid-template-columns: repeat(2, 1fr);
	}
	.about .content img {
		grid-area: img;
		align-self: center;
		border-radius: 10px;
		width: 100%;
	}
	.about .content .right {
		padding: 30px 0;
	}

	.about .content .right .section .box .card .card-info p,
	.about .content .right .section .box .card .card-info p {
		font-size: 0.6em;
	}
	.skils .content {
		grid-template-columns: repeat(1, 1fr);
	}
}